# /etc/systemd/system/docker-compose@.service
# systemctl daemon-reload

# Place your docker-compose to /opt/wordpress/docker-compose.yaml
# systemctl start docker-compose@wordpress
# systemctl enable docker-compose@wordpress

[Unit]
Description=%i service with docker compose
PartOf=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/opt/%i
ExecStartPre=/bin/sh -c 'while /usr/bin/sleep 16d; do /usr/bin/docker-compose --no-ansi run certbot renew && /usr/bin/docker-compose --no-ansi kill -s SIGHUP webserver; done &'
ExecStart=/usr/bin/docker-compose --no-ansi up -d --remove-orphans
ExecStop=/usr/bin/docker-compose --no-ansi down

[Install]
WantedBy=multi-user.target
