#/etc/systemd/system/compose@service-id.service

# Installation:
# cp -vf ./compose@.service /etc/systemd/system/
# systemctl daemon-reload
# systemctl enable compose@infra-wordpress

[Unit]
# https://www.freedesktop.org/software/systemd/man/systemd.unit.html
Description=%i service with docker compose
PartOf=docker.service
After=docker.service
Requires=docker.service

[Service]
# https://www.freedesktop.org/software/systemd/man/systemd.service.html
Type=simple
Restart=on-failure
TimeoutStopSec=30
WatchdogSec=600
WorkingDirectory=/opt/%i
ExecStartPre=docker-compose --no-ansi down -v
ExecStop=docker-compose --no-ansi down -v
ExecStart=sh -c "(while sleep 120s; do CONTAINERS_MASK=%i ./watchdog && systemd-notify WATCHDOG=1; done) & exec docker-compose --no-ansi up --remove-orphans"

# https://www.freedesktop.org/software/systemd/man/systemd.kill.html
KillMode=control-group
NotifyAccess=all

[Install]
WantedBy=multi-user.target
